body{
  background-color: whitesmoke;
}
.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.div-1{
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(19, 19, 19);
}
.images-logo{
  width: 10%;
  color: white;
}
.logo-div{
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.hr-div{
  border-bottom: 1px solid rgb(172, 168, 168);
}
.div-2{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.second-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px;
}
.hello{
  padding: 17px;
  display: flex;
  flex-direction: row;
}
.btn{
  background-color: black;
  color: white;
  width: 110px;
  height:40px;
  border-radius: .3em;
}
.cards{
  background-image: linear-gradient(rgb(48, 24, 48),blue);
  width: 60%;
  height: 170px;
  padding: 20px;
  margin-top: 2em;
  color: white;
  border-radius: .3em;
}